<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YO</title>
    {{#each page.headerAssets}}
      <link rel="stylesheet" type="text/css" href="{{.}}">
    {{/each}}
  </head>
  <body>
    {{#if isAuthenticated}}
    <form action="http://localhost:5000/logout" method="get">
      <button type="submit">Logout</button>
    </form>
    {{ else }}
    <form action="http://localhost:5000/login" method="post">
      <input type="text" name="username" value="admin">
      <input type="password" name="password" value="admin">
      <button type="submit">Login</button>
    </form>
    {{/if}}
    <hr />
    {{#each page.modules}}
      {{{renderInclude . ../req}}}
    {{/each}}
    {{#each page.footerAssets}}
      <script src="{{.}}"></script>
    {{/each}}
    {{#if isAuthenticated}}
    <div id="kipp"></div>
    <script src="http://localhost:3003/kipp.js"></script>
    {{/if}}
  </body>
</html>
